# Compiled class file
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs
hs_err_pid*
replay_pid*

# IDE - IntelliJ
.idea/
*.iml
*.iws
*.ipr

# IDE - Eclipse
.settings/
.classpath
.project

# Build artifacts
target/
out/
build/

# Spring Boot config
src/main/resources/application.properties

# AI Files
docs/